{% extends "base.html" %}
{% block content %}

<h1></h1>

<form action="/vartotojai/create" method="post">

    <div class="mb-3">
        <label for="vardas" class="form-label">Vardas</label>
        <input type="text" class="form-control" id="vardas" name="vardas">
    </div>
    <!-- <div class="mb-3">
        <label for="amzius" class="form-label">Amzius</label>
        <input type="number" class="form-control" id="amzius" name="amzius">
    </div> -->
    <button type="submit" class="btn btn-primary">Sukurti</button>
</form>

{% endblock %}